html {
    height: auto !important;
    overflow: scroll !important;
}

.nytc---modal-window---windowContainer .nytc---shared---blackBG .nytc---modal-window---isShown #app-container div[role=dialog] {
	display: none !important;
}